/* Full-page background image */

@font-face {
    font-family: corporate, sans-serif;
    src: url("fonts/Corporate S Regular.ttf");
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: corporate, sans-serif;
}

.background {
  background: url("images/infinity2 logo on black bg.png") center/cover no-repeat;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Full-screen overlay, hidden by default */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

/* Centered vertical links */
.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Link styling */
.overlay-content a {
  color: rgb(65, 65, 65);
  font-size: 1.5rem;
  text-decoration: none;
  padding: 10px 20px;
  font-family: corporate, sans-serif;
}
.overlay-content a:hover {
  text-decoration: underline;
}
